.menubar {
    background-color: #485058;
    padding: 0.9% 2% 0.9% 2%;
}

/* Modal CSS 재정의 */

.form-control {
    font-size: 1rem;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.3rem #28a74580;
}



.btn-outline-dark {
    color: #333A42;
    border-color: #343a40;
}

.btn-outline-dark:hover {
    color: #F1ECE9;
    background-color: #333A42;
    border-color: #333A42;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
    color: #333A42;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
    color: #F1ECE9;
    background-color: #333A42;
    border-color: #333A42;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}