<div class="outer">
  <div fxLayout="column" class="app-container">
    <app-main-nav></app-main-nav>
    <div>
      <img src="assets/banner.png" style="max-width: 100%;">
    </div>
    <app-member-register></app-member-register>
    <div fxLayoutGap="20px" fxLayout="row wrap" fxLayoutAlign="center center" class="middle-banner-1">
      <div fxFlex>
        <img src="assets/banner2.jpg" style="max-width: 100%">
      </div>
      <div fxFlex>
        <h1> Mindmap - Wikipedia </h1>
        <hr class="divider">
        <p>
          A mind map is a diagram used to visually organize information.
          A mind map is hierarchical and shows relationships among pieces of the whole.
          It is often created around a single concept, drawn as an image in the center of a blank page,
          to which associated representations of ideas such as images, words and parts of words are added.
          Major ideas are connected directly to the central concept, and other ideas branch out from those.
        </p>
      </div>
    </div>
    <div fxLayout="row" class="footer">
      <div fxFlex fxLayoutGap="10px" fxLayout="column">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center">
          TEL. 010-2349-1478
          <br> E-MAIL. wlsdms0122@gmail.com
          <br> © Copyright(c)2018 Team. 김가네정식 All rights reserved.
        </div>
      </div>
    </div>
  </div>
</div>